/* @font-face { */
/* font-family: "Helvetica Neue";
	src: url("HelveticaNeue.woff2") format("woff2"),
		url("HelveticaNeue.woff") format("woff"),
		url("HelveticaNeue.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
} */

@font-face {
	font-family: "Helvetica Neue";
	src: url("HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
		url("HelveticaNeueLTGEO-55Roman.woff") format("woff"),
		url("HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue Caps";
	src: url("HelveticaNeueLTGEOCaps-55Roman.woff2") format("woff2"),
		url("HelveticaNeueLTGEOCaps-55Roman.woff") format("woff");
	font-style: normal;
	font-display: swap;
}
